
<div class="img-container">
  <div class="img-mock"></div>


  <div class="name-badge-container">
    <div class="name-badge-row" id="name-badge">
      <div class="name-badge" (click)="scrollToContent()">
        <p>
          Erik Mayrhofer
        </p>
      </div>
    </div>

    <div class="static-top-menu">
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <button class="print">Print</button>
    </div>
  </div>
  <div class="content-holder" #content>
    <router-outlet></router-outlet>
    <div class="placeholder">aaaaa</div>
  </div>
</div>
