<div class="pageholder sidebar-open" (click)="sidebar = !sidebar" [class.sidebar-open]="sidebar">
  <div class="sidebar-holder">
    <div class="static">
      Static
    </div>
    <div class="sidebar">
      Sidebar
      {{sidebar}}
      <p class="placeholder"></p>
    </div>
    <div class="page-overlay"></div>
  </div>
  <div class="content-holder">
    <div class="static">
      Static

    </div>
    <div class="content">
      <p class="tmp">Yeet</p>
      Content{{sidebar}}
      <p class="placeholder"></p>
    </div>
  </div>
</div>
