@import '../olib.scss';

$sidebar-width: 25rem;

.placeholder {
  height: 400vh;
}

.pageholder{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar-holder{
  left: -$sidebar-width;
  position: absolute;
  width: $sidebar-width;
  transition: 1s left;
  height: 100%;
  .page-overlay {
    position: absolute;
    top: 0;
    left: $sidebar-width;
    width: 100vw;
    height: 100vh;
  }
}

.content-holder{
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  transition: 1s left, 1s filter;
  .content {
    height: 100%;
    overflow-y: auto;
  }
}

.pageholder.sidebar-open{
  .sidebar-holder{
    left: 0;
  }
  .content-holder {
    left: $sidebar-width/2;
    filter: brightness(0.5);
    pointer-events: none;
  }
}

.tmp {
  position: fixed;
}
